.friend-list {
    display: flex;
    gap: 10px;
    padding-left: 0;

}

.friend-list li {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.friend-list li:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;
}

